{% extends 'main/base.html' %} 

{% block title %}
  Company Registration
{% endblock %}

{% block body_class %}register-company-page{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
  <form method="POST" class="company-form">
      {% csrf_token %}
      {{ form.as_p }}
      <span class="helptext">Choose Field Above</span>
      <button type="submit" name="register">Register</button>
  </form>
{% endblock %}
